* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
  font-family: Roboto, Arial, sans-serif;
}

.main-container {
  height: 100%;
  width: 100%;
}
.nav-container {
  width: 100%;
  height: 50px;
}
.flex {
  display: flex;
}
.nav-section {
  background-color: #2874f0;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav-container {
  align-items: center;
  margin: auto;
  width: 100%;
  position: relative;
  left: 61px;
}
.logo-section {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: 200px;
  margin-top: 13px;
}
.logo {
  width: 75px;
}
.plus-sign {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 11px;
  font-style: italic;
}
.plus-sign:hover {
  text-decoration: underline;
}
.plus-img {
  width: 10px;
}
.plus {
  color: #ffe500;
  margin-top: 0px;
  margin-right: 2px;
  font-weight: bold;
}
.search-section {
  min-width: 304px;
  width: 710px;
}
.search-bar {
  max-width: 564px;
  width: 100%;
  margin-left: 10px;
}
.search-box {
  margin-left: -575px;
  margin-top: 10px;
  outline: none;
  padding-top: 0px;
  padding-right: 16px;
  height: 36px;
  border-radius: 2px 0 0 2px;
  border: 0px;
  width: 106%;
  font-size: 14px;
}
.search-btn {
  background: #fff;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 8px;
  margin-top: 10px;
  width: 44px;
  height: 36px;
  cursor: pointer;
  border: 1px;
  color: #2874f0;
  font-size: 18px;
}
.login {
  position: relative;
  left: -255px;
  margin-top: 18px;
}

.login-btn {
  color: #2874f0;
  border-radius: 1px;
  background: #fff;
  letter-spacing: 1px;
  height: 32px;
  padding: 6px 40px;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.none {
  display: none;
}
.more {
  position: relative;
  left: -220px;
}
.cart {
  position: relative;
  left: -200px;
}
.more-lan {
  color: white;
  margin-top: 18px;
  cursor: pointer;
  font-size: 16px;
}
.cart-lan {
  color: white;
  margin-top: 18px;
  cursor: pointer;
  font-size: 16px;
}
.categories {
  background: #fff;
  justify-content: center;
  border-bottom: 1px;
  border-bottom: lightgray;
}
.category-list {
  list-style: none;
  max-width: 1280px;
  justify-content: space-between;
  width: 100%;
}
.category-list-items {
  padding-top: 12px;
  padding-right: 8px;
  cursor: pointer;
  text-align: center;
}
.category-list-items:hover {
  color: #2874f0;
}
.category-images {
  height: 64px;
  width: 64px;
}
.category-name {
  font-size: 14px;
  font-weight: 500;
}
.nav-button {
  position: absolute;
}
.ad-btn {
  position: relative;
  border-radius: 4px;
  font-size: 40px;
  background: hsla(0, 0%, 100%, 0.98);
  width: 47px;
  height: 104px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 11%);
  cursor: pointer;
}
.prev-btn {
  left: 0;
  margin-left: 8px;
  font-size: 40px;
  margin-top: 100px;
  color: #000000;
  cursor: pointer;
}

.next-btn {
  color: #000000;
  right: 0;
  margin-right: 8px;
  font-size: 40px;
  margin-top: 100px;
  cursor: pointer;
}
.ad-item-container {
  margin: auto;
  max-width: 1608px;
  min-width: 978px;
  overflow-x: hidden;
  padding-top: 10px;
}
.ad-items {
  width: 100%;
}
.ad-img {
  width: 100%;
  height: 280px;
  padding: 8px;
}

.card {
  box-shadow: rgb(177, 174, 174) 0px 0px 5px 3px;
  padding: 10px 0px;
  margin: 10px 5px;
  border-radius: 5px;
}
.common-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  margin-top: 20px;
  box-shadow: gainsboro;
}
.common-heading-left h1 {
  font-size: 20px;
  font-weight: 400;
  padding: auto;
}
.common-heading-left h2 {
  font-size: 15px;
  padding: 5px 0px;
  color: rgb(145, 141, 138);
  font-weight: 200;
}
.common-heading-right button {
  width: 90px;
  height: 40px;
  font-size: 18px;
  background-color: #2874f0;
  border: none;
  color: white;
  border-radius: 2px;
}
.common-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-height: 366px;
  margin: 10px 0px;
}
.common-col {
  text-align: center;
  line-height: 22px;
}
.common-col img {
  width: 69px;
  height: 150px;
  transition: 300ms;
}
.common-col img:hover {
  transform: scale(0.9);
}

.common-col-speaker {
  text-align: center;
  line-height: 22px;
}

.common-col-speaker img {
  width: 280px;
  height: 200px;
  transition: 300ms;
}
.common-col-speaker:hover {
  transform: scale(0.9);
}
.footer-container {
  background-color: lightgray;
  width: 100%;
  height: 100px;
  font-size: 20px;
}
.footer-container h3 {
  position: relative;
  text-align: center;
}
